.exe
.dll
.pdb
.cache
.vsidx
.cs
.json
.dll
.exe
.props
.targets
.cache
.suo
.vsidx
.bin
.suo
.v2
AssemblyInfoInputs.cache
AssemblyInfo.cs
.dtbcache.v2
.suo
практика/.vs/
практика/v17/
*.suo
.AssemblyInfoInputs.cache
